* {
  font-family: "Poppins", sans-serif;
}
:root {
  --main-bg: #264653;
  --primary-text-color: #e76f51;
}
header,
.hero-section {
  background-color: var(--main-bg);
}
.text-details {
  color: #e0e0e0 !important;
}
.primary-button {
  background-color: #e76f51 !important;
  border: none !important;
}
.primary-button:focus {
  box-shadow: none !important;
}

.text-style-primary {
  color: var(--primary-text-color);
}
.featured-bike-image {
  filter: grayscale(100%);
}
